{{ "{% extends 'AngelGarridoCrudGeneratorBundle::base.html.twig' %}" }}
{{ "{% if edit_form is defined %}" }}
    {{ "{% form_theme edit_form 'DoceCodeAdminCrudBundle:Form:bootstrap.html.twig' %}" }}
{{ "{% elseif show_form is defined %}" }}
    {{ "{% form_theme show_form 'DoceCodeAdminCrudBundle:Form:bootstrap.html.twig' %}" }}
{{ "{% endif %}" }}

{{ "{% block title %}" }}
    {{ "{{ parent() }}" }}
{{ "{% endblock %}" }}

{{ "{% block page %}" }}
{{ "{% include 'AngelGarridoCrudGeneratorBundle::flash.html.twig' %}" }}
<div class="row">
    <h1 class="page-header">
        {{ "{{ 'entity.trans'|trans({'%entity%': '" ~ entity ~ "'}, 'AngelGarridoCrudGeneratorBundle') }}" }}
        <div class="pull-right">
            {{ "{% if show_form is defined %}" }}
                <a class="btn btn-warning" id="edit-this" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {{ "{% endif %}" }}

            <a id="btn-return" class="btn btn-primary" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ "{{ 'view.constant.listback'|trans({}, 'AngelGarridoCrudGeneratorBundle') }}" }}
            </a>
        </div>
    </h1>
    {{ "{% if edit_form is defined %}" }}
        {{ "{{ form(edit_form) }}" }}
    {{ "{% elseif show_form is defined %}" }}
        {{ "{{ form_start(show_form) }}" }}
        {{ "{{ form_row(show_form.submit, { 'hidden': true }) }}" }}
        {{ "{{ form_end(show_form) }}" }}
    {{ "{% endif %}" }}
    <br/>
    {{ "{% if delete_form is defined %}{{ form(delete_form) }}{% endif %}" }}
</div>
{{ "{% endblock %}" }}
